html{
    max-width: 760px;
    line-height: 24px;
    font-family: Helvetica;
    color: #fff;
    background-color: #272822;
}

body{
    margin: 10px;
}

ul{
    padding: 0 15px;
    color: #FFE792;
    font-family: sans-serif;
}

li{
    margin: 1em 0;
}

a{
    color: #AE81FF;
    display: block;
}

.row--desktop{
    display: none;
}

.row--title{
    border-bottom: 1px solid #75715E;
}

.row--title h1{
    margin: 16px 0;
}

.header--about{
    color: #F92672;
}

.header--projects{
    color: #A6E22E;
}

.header--contact{
    color: #66D9EF;
}

.contact li{
    margin: 0;
    float: left;
    list-style: none;
}

.icon svg{
    fill: #ececec;
    height: 35px;
    width: 35px;
    margin: 10px;
}

@media (min-width: 760px){
    .row--desktop{
        display: block;
    }

    .row--mobile{
        display: none;
    }
}